body{
background-color:#FFFFF0;
font-family:Arial,Helvetica,sans-serif;

}


#contenedor{

width:500px;
height:500px;
background-color:#fffff0;

}

#lineas{

width:800px;
height:40px;
background-color:#fffff0;

}

#content{

padding:10PX;
width:420px;
height:135px;
background-color:black;

}

div{

width:50px;
height:25px;
float:left;
background-color:white;
text-align:center;
font-weight:bold;
margin-right:10px;
margin-bottom:10px;
cursor:pointer;

}