/******************************************************************************/
/******************** BEST TAGS EVER! by Antonio Navajas **********************/
/******************************************************************************/

/*Pseudo-reset*/
/******************************************************************************/
@charset "utf-8";

.oculto{
    display:none;
}

body{
    font-size:16px;
    font-weight:normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    border: 0;
    background: url("../images/bgarriba.jpg") left top repeat-x,
		url("../images/bgabajo.jpg") left bottom repeat-x;

}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,
img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,
label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

    p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
    }

	input, textarea{
            padding: 5px 10px 6px;
            border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #ccc;
            border-bottom-color: #bbb;
	}
	a, a:link, a:active, a:visited{
            color: #3B68CC;
            text-decoration: underline;
	}
	
	a:hover{
            color: #264387;
            text-decoration: none;
	}
	
	li a:link, li a:active, li a:visited,li a:hover  {
            text-decoration:none;
	}

h1, h2, h3, h4, h5, h6, a, a:link, a:active, a:visited, a:hover{
    margin:0px;
    padding:0px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: left;
    font-size: 16px;
}

h1, h1 a{
    font-size:54px !important;
    font-weight: bold !important;
    text-decoration: none !important;
    color: #333 !important; 
}   

	h2, h2 a{
            font-size:36px !important;
            font-weight: bold !important;
            text-decoration: none !important;
            color: #333 !important;
	}
	
		h3, h3 a, h4, h4 a{
                    font-size:20px !important;
                    text-decoration: none !important;
                    color: #333 !important;
		}
                
                    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover{
                        color: #222 !important;
                    }


/*Botones*/
/******************************************************************************/
 
.boton, .boton:visited{
    cursor: pointer;
    width: auto !important;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none !important;
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

    .boton:hover{
        background-position: 0 -15px;
        color: #333;
        text-decoration: none;
    }
    
    .boton:focus{
        outline: 1px dotted #666;
    }
    
    .boton:active{
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    
        .boton.grande{
            font-size: 15px;
            line-height: normal;
            padding: 9px 14px 9px !important;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }
        .boton.peque {
            padding: 3px 9px 4px !important;
            font-size: 11px;
        }
        
        .boton.aceptar{
            color:#fff;
            background-color: #57a957;
            background-repeat: repeat-x;
            background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
            background-image: -moz-linear-gradient(top, #62c462, #57a957);
            background-image: -ms-linear-gradient(top, #62c462, #57a957);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
            background-image: -webkit-linear-gradient(top, #62c462, #57a957);
            background-image: -o-linear-gradient(top, #62c462, #57a957);
            background-image: linear-gradient(top, #62c462, #57a957);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            border-color: #57a957 #57a957 #3d773d;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          }
          
          .boton.cancelar{
            color: #fff;
            background-color: #c43c35;
            background-repeat: repeat-x;
            background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
            background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
            background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
            background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
            background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
            background-image: linear-gradient(top, #ee5f5b, #c43c35);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            border-color: #c43c35 #c43c35 #882a25;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          }
          
